.socialIcons {
    @media (max-width:700px) {
        display: block
    }
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;

    a {
        margin: 10px;
        height: 70px;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        cursor: pointer;
        // position: relative;
        border:2px solid white;
        color:white;

        a {
            content: "";
            position: absolute;
            height: inherit;
            width: inherit;
            border-radius: 50%;
            opacity: 0;
            z-index: -1;
        }

        &:hover {
            color: #fff;
            font-size: 17px;
            transform: scale(0.90);
            opacity: 1;
            background:hsl(217, 71%, 53%);
            transition: all 0.3s linear;
        }
    }
}