<nav class="demo">
        <a href="#" class="brand">
            <img class="logo" src="/img/basket.png" />
            <span>{{ .Site.Title }}</span>
        </a>

        <!-- responsive-->
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">menu</label>

        <div class="menu">
            {{ range .Site.Menus.main }}
            <a href="#" class="pseudo button icon-picture">
                {{.Name | safeHTML }}
            </a>
            {{ end }}
            <a href="#" class="pseudo button icon-picture">Demo</a>
            <a href="#" class="button icon-puzzle">Plugins</a>
        </div>
    </nav>