<head>
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="KEYWORDS GO HERE">
    <meta name="description" content="KEYWORDS GO HERE">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/bulma-timeline.css">
    <link rel="icon" href="img/basket.png" type="image/png">
    <link rel="stylesheet" media="bogus">
    <script src="js/feather.min.js"></script>
    <script src="js/main.js"></script>
</head>