<nav class="navbar is-black is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
           <p class="subtitle has-text-white"> {{.Site.Params.Name}} </p>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="mainNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="mainNavbar" class="navbar-menu">
        <div class="navbar-start">
            {{ range .Site.Menus.main }}
                {{ if .HasChildren }}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link" href="{{ .URL }}">
                            {{.Name}}
                        </a>
                    
                        <div class="navbar-dropdown">
                            {{ range .Children }}
                                <a class="navbar-item" href="{{ .URL }}">
                                    {{.Name}}
                                </a>
                            {{ end }}
                        </div>
                    </div>
                {{ else }}
                    <a class="navbar-item" href="{{ .URL }}">
                        {{ .Name }}
                    </a>
                {{ end }}
            {{ end }}

        </div>
        {{ if .Site.Params.Resume.resume}}
        <div class="navbar-end">
            <a class="navbar-item" href="{{.Site.Params.Resume.link}}">
                Resume
            </a>
            </div>
        {{ end }}
        </div>
</nav>