<head>
    {{ $title := print .Site.Title " | " .Title }}
    {{ if .IsHome }}{{ $title = .Site.Title }}{{ end }}
    <title>{{ $title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="{{.Site.Params.keywords}}">
    <meta name="description" content="{{.Site.Params.tagline}}">
    <link rel="stylesheet" href="css/bulma.css">
    <link rel="stylesheet" href="css/bulma-timeline.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link rel="stylesheet" media="bogus">
</head>