<h2 class="centerText">Things I can do</h2>
<div class="flex one three-800 skills">
    {{ range $.Site.Data.skills}}
    <div>
        <article class="card">
            <header>
                <h3>{{ .name }}</h3>
            </header>
            <section>
                <p>{{ .summary }}</p>
            </section>
            <footer>
            </footer>
        </article>
    </div>
    {{ end }}
    <div>
        <article class="card">
            <header>
                <h3>Penetration Testing</h3>
            </header>
            <section>
                <p>Basic physical and digital security penetration testing</p>
            </section>
            <footer>
                <span data-feather="star"></span>
                <span data-feather="star"></span>
                <span data-feather="star"></span>
                <span data-feather="star"></span>
                <span data-feather="star"></span>
            </footer>
        </article>
    </div>
</div>