<div class="flex two-800 summaryContainer">
    <div>
        <h2>Micah Guttman</h2>
        <p>
            lorem ipsum dolor sit amet s lorem ipsum dolor sit amet slorem ipsum dolor sit amet slorem ipsum dolor sit amet slorem ipsum dolor sit amet slorem ipsum dolor sit amet slorem ipsum dolor sit amet slorem ipsum dolor sit amet slorem ipsum dolor sit amet slorem ipsum dolor sit amet slorem ipsum dolor sit amet slorem ipsum dolor sit amet slorem ipsum dolor sit amet slorem ipsum dolor sit amet s
        </p>
    </div>
    <div>
        test
    </div>
</div>