{{ define "main" }}
<section class="hero is-link is-fullheight-with-navbar has-background-black">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ .Site.Params.name }}</h1>
            <p class="subtitle">{{ .Site.Params.tagline }}</p>
            <p class="links">
                {{ range $.Site.Data.landerLinks }}
                <a href="{{ .link }}" target="_blank" class="cdn"><span class="{{.newIcon}} is-size-4 mx-1"></span></a>
                {{ end }}
                <br>
                {{ if .Site.Params.Resume.resume }}
                <a href="{{.Site.Params.Resume.link}}" class="">Resume</a>
                {{ end}}
            </p>
            <a href="#bottom-content"><span data-feather="chevron-down"></span></a>
        </div>
    </div>
</section>
<section id="bottom-content" class="section">
    {{ if .Site.Params.Sections.summary }}
    {{- partial "summary.html" . -}}
    {{ end }}
    {{ if .Site.Params.Sections.timeline }}
    {{- partial "timeline.html" . -}}
    {{end}}
    {{ if .Site.Params.Sections.skills }}
    {{- partial "skills.html" . -}}
    {{end}}
    {{ if .Site.Params.Sections.moretocome }}
    {{- partial "moretocome.html" . -}}
    {{end}}
</section>
{{ end }}