{{ define "main" }}
<section class="hero is-link is-fullheight-with-navbar has-background-black">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">{{ .Site.Params.name }}</h1>
            <p class="subtitle">{{ .Site.Params.tagline }}</p>
            <p class="links">
                {{ range $.Site.Data.landerLinks }}
                <a href="{{ .link }}" target="_blank" class="cdn"><span class="{{.newIcon}} is-size-4 mx-1"></span></a>
                {{ end }}
                <br>
                <a href="" class="">Resume</a>
            </p>
            <a href="#bottom-content"><span data-feather="chevron-down"></span></a>
        </div>
    </div>
</section>
<section id="bottom-content" class="section">
    {{- partial "summary.html" . -}}
    {{- partial "timeline.html" . -}}
    {{- partial "skills.html" . -}}
</section>
{{ end }}